@use 'variables' as *;

:root {
  --primary: #95c122;
  --primary-pale: #dde8c0;
  --secondary: #3e363f;
  --danger: #c13f22;
  --white: #ffffff;
  --off-white: #f5f5f5;
  --black: #1e1e1e;
  --gray: #898989;

  --primary-rgb: 149 193 34;
  --secondary-rgb: 62 54 63;
  --danger-rgb: 193 63 34;
  --white-rgb: 247 247 247;

  --bg: var(--primary-pale);
  --text: var(--black);

  /* Breakpoints */
  --xs-max: #{$xs-max};
  --sm-min: #{$sm-min};
  // --sm-max: $sm-max;
  // --md-min: $md-min;
  // --md-max: $md-max;
  // --lg-min: $lg-min;
  // --lg-max: $lg-max;
  // --xl-min: $xl-min;

  /* Spacings */
  --spacing-0: 0;
  --spacing-1: 0.0625rem;
  --spacing-2: 0.125rem;
  --spacing-3: 0.25rem;
  --spacing-4: 0.5rem;
  --spacing-5: 0.75rem;
  --spacing-6: 1rem;
  --spacing-7: 1.25rem;
  --spacing-8: 1.5rem;
  // --spacing-9: 1.75rem;
  --spacing-10: 2rem;
  // --spacing-11: 2.25rem;
  // --spacing-12: 2.5rem;
  // --spacing-13: 2.75rem;
  --spacing-14: 3rem;

  /* Borders */
  --border-0: 0;
  --border-1: var(--spacing-1) solid;
  --border-2: var(--spacing-2) solid;
  --border-3: var(--spacing-3) solid;
  --border-6: var(--spacing-6) solid;
  --border-10: var(--spacing-10) solid;
  --border-14: var(--spacing-14) solid;
}

::selection {
  background-color: var(--primary-pale);
  color: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--spacing-0);
}

#root {
  min-height: 100vh;
  @media (min-width: $sm-min) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-6);
  }
}

@keyframes loaderB {
  0% {
    transform: translateY(-1rem) scale(1);
  }
  50% {
    transform: translateY(0) scale(1.1);
  }
  100% {
    transform: translateY(1rem) scale(1);
  }
}

.logoDot {
  animation: loaderB 1s linear infinite alternate;
}
