.loader {
  position: absolute;
  inset: var(--spacing-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-6);
  padding: var(--spacing-6);
  color: var(--off-white);
  background-color: rgb(var(--primary-rgb) / 0.7);
}
